.lead__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 110%;
    text-align: center;
    max-width: 288px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .lead__title {
        font-size: 96px;
        line-height: 104%;
        max-width: 720px;
    }
}
